.Card {
  background-color: #56ab2f;
  height: 400px;
  width: 300px;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
  margin: 5px;
  justify-content: center;
  box-shadow: 3px 3px 3px black;
}
.data {
  margin-top: 50px;
  text-align: center;
  background-color: blanchedalmond;
}
h4 {
  margin: 2px;
}
img {
  height: 200px;
  width: 200px;
  z-index: 2;
}
.Card:hover {
  transform: scale(1.02);
}

.photoBack {
  width: 250px;
  height: 250px;
  background-color: blanchedalmond;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  z-index: 1;
}

.photoHold {
  height: 200px;
  width: 200px;
  justify-content: center;
}
.top {
  display: flex;
  justify-content: center;
}
